.App-sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.App-sidebar li {
  background-color: blue;
  color: white;
  padding: 10px;
  margin: 5px;
}

.App-sidebar li:hover {
  color: blue;
  background-color: white;
}