.App-sidebar {
  background-color: lightslategray;
  min-height: 95vh;
  width: 10vw;
}

.App-sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.App-sidebar li {
  background-color: blue;
  color: white;
  padding: 10px;
  margin: 5px;
}

.App-sidebar li:hover {
  color: blue;
  background-color: white;
  text-decoration: none;
}

.App-sidebar a, a:visited {
  color: white;
  text-decoration: none;
  width: 100px;
}

.App-sidebar a:hover {
  color: white;
  text-decoration: none;
  width: 100px;
}